@font-face {
    font-family: 'Circe Regular';
    src: url('/fonts/Circle/Circe-Regular.eot');
    src: url('/fonts/Circle/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circle/Circe-Regular.woff') format('woff'),
    url('/fonts/Circle/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Circe Light';
    src: url('/fonts/Circle/Circe-Light.eot');
    src: url('/fonts/Circle/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circle/Circe-Light.woff') format('woff'),
    url('/fonts/Circle/Circe-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Circe ExtraBold';
    src: url('/fonts/Circle/Circe-ExtraBold.eot');
    src: url('/fonts/Circle/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circle/Circe-ExtraBold.woff') format('woff'),
    url('/fonts/Circle/Circe-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }
