/* Variables file */
$base-color: #ea7f8c;
$grey-color: #eaeaea;
$black: #242424;
$yellow: #ffdd0c;


$owl-image-path: "~owl.carousel/src/img/";
@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';