@import "normalize";
@import "font";
@import "variables";
@import "mixins";

//---------------------------------------------------
//Общие
//---------------------------------------------------
html{
    font-family: 'Circe Regular';
    line-height: 1.2;
    color: $black;
    font-size: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

section{
    padding: 5vh 0;
}


.desc{
    display: none;
    @media (min-width: 992px) {
        display: flex!important;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.btn{
    display: inline-block;
    border-radius: 10px;
    background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130),  rgb(191,223,44) );
    background-image: -ms-linear-gradient( 27deg, rgb(18,188,130), rgb(191,223,44) );
    background-image: linear-gradient( 27deg, rgb(18,188,130), rgb(191,223,44) );
    max-width: 300px;
    padding: 20px 45px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: 'Circe ExtraBold';
    font-size: 1.2rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0);
    &:hover{
        background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130) 20%,  rgb(191,223,44) );
        background-image: -ms-linear-gradient( 27deg, rgb(18,188,130) 20%, rgb(191,223,44) );
        background-image: linear-gradient( 27deg, rgb(18,188,130) 20%, rgb(191,223,44) );
    }
    &:active{
        background-image: -ms-linear-gradient( 27deg, rgb(16, 180, 126), rgb(180, 211, 42) );
        background-image: -webkit-linear-gradient( 27deg, rgb(16, 180, 126), rgb(180, 211, 42));
        background-image: linear-gradient( 27deg, rgb(16, 180, 126), rgb(180, 211, 42) );
        box-shadow: 0px 10px 13px -12px #000000, 50px 50px 50px 50px rgba(0,0,0,0)!important;
    }
}
.title{
    font-size: 1.6rem;
    font-family: 'Circe ExtraBold';
    text-transform: uppercase;
    text-align: center; 
}

//---------------------------------------------------
//Хедер
//---------------------------------------------------
.header{
    background-image: url("../img/hero-sm.jpg");
    background-color: #ea7f8c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:  3vh 0 5vh;
    .header__logo{
        .logo{
            .logo__img{
                max-width: 186px;
            }
        }
    }
    .header__hero{
        color: white;
        text-align: center;
        margin: 4vh 0 0;
        .hero__title{
            // font-size: 4rem;
            font-size: 2rem;
        }
        .hero__subtitle{
            // font-size: 1.6rem;
            font-size: 1.2rem;
            margin-bottom: 45vh;
        }
        .hero__btn{
            margin: 0 auto;
            // width: 100%;
            box-shadow: 0px 20px 27px 1px rgba(179,61,76,0.44), 0 0 0 rgba(179,61,76,0.44);
        }
    }
}

//---------------------------------------------------
//Блок преимуществ
//---------------------------------------------------

.features{
    .features__feature{
        padding: 2vh 0 5vh;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        .feature{
            .feature__icon{
                border-radius: 50%;
                background-color: $yellow;
                width: 80px;
                height: 80px;
                position: relative;
                margin: 0 auto;
                .icon{
                    position: absolute;
                    max-height: 70px;
                    top: 50%;
                    transform: translate(-35%, -50%);
                }
            }
            .feature__description{
                text-align: center;
                margin-top: 2vh;
                text-transform: uppercase;
                
            }
        }
    }
    .features__plus{
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0 0 5vh;
        .plus{
            .plus__description{
                margin: 0 0 0;
                // font-size: 1.5rem;
                font-size: 1.2rem;
                text-align: center;
                height: 48px;
            }
            .plus__img{
                width: 80%;
                margin: auto;
                display: block;
            }
        }
    }
}

//---------------------------------------------------
//Общий стиль для слайдеров
//---------------------------------------------------
//Отключение слайдера на десктопах
@media (min-width: 992px) {
    .owl-carousel{
        display: none!important;
    }
}
.owl-carousel span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: $grey-color!important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: $yellow!important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

//---------------------------------------------------
//Блок 
//---------------------------------------------------
.joining{
    background-image: url("../img/joining.jpg");
    background-color: $base-color;
    background-size: cover;
    background-repeat: no-repeat;
    .joining__text{
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
    .joining__btn{
        margin: 6vh auto 0;
        display: block;
        // width: 100%;
        span{
            display: block;
            text-transform: initial;
            font-family: 'Circe Regular';
            font-size: 1.2rem;
        }
    }
}

//---------------------------------------------------
//Блок отзывов
//---------------------------------------------------
.testimonials{

   .testimonials__testimonial{
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;

    // .testimonial{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-end;
    // }

        .testimonial__blockquote{
            position: relative;
            margin: 40px auto;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 30px;
            padding: 25px;
            max-width: 320px;
            blockquote{
                font-size: 1rem;
                margin: 0;
            }
        }
        .testimonial__blockquote:before,
        .testimonial__blockquote:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
        }

        .testimonial__blockquote:before {
            left: 36px;
            bottom: -30px;
            border: 15px solid;
            border-color: #dcdcdc transparent transparent #dcdcdc;
        }

        .testimonial__blockquote:after {
            left: 37px;
            bottom: -28px;
            border: 14px solid;
            border-color: #fff transparent transparent #fff;
        }
        .testimonial__author{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin: 0 40px;
            .author__photo {
                margin-right: 25px;
               .photo{
                    width: 81px;
                    height: 81px;
                    border-radius: 50%;
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                } 
            }
            .author__data{
                .data__name{
                    font-size: 1.4rem;
                    font-family: 'Circe ExtraBold';
                    text-transform: uppercase;
                }
                .data__age{
                    font-size: 1rem;
                    font-family: 'Circe Light';
                }
            }
        }
   } 
}

//---------------------------------------------------
//Блок футер
//---------------------------------------------------

.footer{
    padding: 5vh 0 2vh;
    background-image: url("../img/footer.jpg");
    background-color: $base-color;
    background-size: cover;
    background-repeat: no-repeat;
    .footer__copyrightText{
        text-align: center;
        color: white;
        font-family: 'Circe Light';
        font-size: .8rem;
    }
    .footer__content{
        display: flex;
        flex-direction: column;
        margin: 0 0 10vh;
        .content__text{
            font-size: 1.4rem;
            color: white;
            margin-bottom: 2vh;
        }
        .content__form{
            input{
                width: 100%;
            }
            .form__input{
                border: none;
                border-radius: 10px;
                height: 60px;
                text-indent: 20px;
            }
            .form__btn{
                max-width: 100%;
                border: none;
                outline: none;
                margin-top: 3vh;
                &:focus{
                    border: none;
                    outline: none;
                }
            }
            small{
                display: block;
                color: white;
                margin-top: 1.5vh;
                a{
                    color: white;
                }
            }
            .form__err {
                color: red;
                margin: 1vh 0 -1vh;
            }
            .form__result p{
                text-align: center;
            }
        }
    }
}

//---------------------------------------------------
//Адаптив
//---------------------------------------------------
@media  (min-width: 600px) {

}
@media (min-width: 768px) {
    html{
        font-size: 100%;
    }
    .container {
      width: 750px;
    }
    .title{
        font-size: 1.6rem;
    }

    .header{
        background-image: url("../img/hero-lg.jpg");
        padding:  6vh 0 10vh;
        .header__hero{
            text-align: left;
            margin: 10vh 0 16vh;
            .hero__title{
                font-size: 2rem;
                text-align: left;
            }
            .hero__subtitle{
                font-size: 1.2rem;
                margin-bottom: 3vh;
            }
            .hero__btn{
                margin: 0;
                width: 250px;
            }
        }    
    }
    .joining{
        .joining__btn{
            margin: 3vh auto 0;
            width: initial;
        }
        .joining__text{
            font-size: 1.2rem;
        }
    }
    .features{
        .feature{
            padding: 0 25px;
            .feature__icon{
                margin-left: 35%;
            }
            .feature__description{
                font-size: .8rem;
            }
        }
        .features__plus{
            .plus{

                margin: 2vh 0 0;
                .plus__img{
                    width: 95%;
                    margin: auto;
                    display: block;
                }
                .plus__description{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .testimonials{
        .testimonials__testimonial{
             .testimonial__blockquote{
                 blockquote{
                     font-size: 1rem;
                 }
             }
             .testimonial__author{
                 margin: 0;
                 .data__name{
                    font-size: 1.4rem;
                }
             }
        } 
     }
    .footer{
        padding: 10vh 0 2vh;
        .footer__copyrightText{
            font-size: .8rem;
        }
        .footer__content{
            flex-direction: row;
            justify-content: space-between;
            margin: 3vh 0 15vh;
            .content__text{
                font-size: 1.4rem;
                width: 49%;
                p{
                    padding-right: 60px;
                }
                
            }
            .content__form{
                width: 49%;
                .form__input{
                    max-width: 360px;

                }
                .form__btn{
                    max-width: 360px;
                }
            }
        }
    }
    
  }
  @media (min-width: 992px) {
    .owl-carousel{
        display: none!important;
    }
    .container {
      width: 970px;
    }
    .title{
        font-size: 2.6rem;
    }

    .header{
        .header__hero{
            .hero__title{
                font-size: 4rem;
            }
            .hero__subtitle{
               font-size: 1.6rem;
            }
        }    
    }
    .joining{
        .joining__text{
            font-size: 1.8rem;
        }
    }
    .features{
        .feature{
            padding: 0;
            .feature__description{
                font-size: 1rem;
            }
        }
        .features__plus{
            .plus{
                width: calc(100% / 3);
                .plus__description{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .testimonials{
        .testimonials__testimonial{
             .testimonial__blockquote{
                 blockquote{
                     font-size: 1rem;
                 }
             }

        } 
     }
    .footer{
        .footer__copyrightText{
            font-size: 1rem;
        }
        .footer__content{
            .content__text{
                font-size: 1.6rem;
                p{
                    padding-right: 60px;
                }
                
            }
        }
    }
    
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

